<h2 id="notice"><%= notice %></h2>

<div class="row">
  <div class="col-md-4">
    <p>
      <%= image_tag @product.image.url, width: "500", alt: @product.name, class: "img-responsive" %>
    </p>
  </div>
  <div class="col-md-8">
    <h3><%= @product.name %></h3>
    <p>
      made by: <strong><%= link_to @product.brand, branding_path(brand: @product.brand) %></strong>
    </p>
    <h4><%= number_to_currency @product.price %></h4>
    <p><strong><%= @product.quantity %></strong> in stock</p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>Found in our  <%= link_to @product.category.name, categorical_path(cat_id: @product.category.id) %> Store</p>
    <p>
      <%= @product.description.html_safe %>
    </p>
  </div>
</div>
<p>
  <%= link_to "Back", :back %>
</p>
<p>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %>
</p>
